[Desktop Entry]
Encoding=UTF-8
Exec=xdg-su -c /opt/qpickit2/QPickit2
Name=QPickit2
GenericName=QPickit2
X-KDE-StartupNotify=true
MimeType=application/x-designer;
Icon=/opt/qpickit2/img/icon.png
Terminal=false
Type=Application
Categories=Qt;Development;
Name[en_US]=QPickit2
